{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Filter</li>
        <li class="breadcrumb-item active">Output</li>
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>
    </ol>
{% endblock %}

{% block main-container %}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Filter Output
        </div>
        <div class="card-block">
            <table class="table table-bordered fixed_headers">
                <thead>
                    <tr>
                        <th style="max-width: 80px; min-width: 80px">CHROM</th>
                        <th style="max-width: 100px; min-width: 100px">POS</th>
                        <th style="max-width: 100px; min-width: 100px">REF</th>
                        <th style="max-width: 100px; min-width: 100px">ALT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for output in output_list %}
                        <tr {% if output.ref == 'A' %}style="color: #ee3148"{% endif %}>
                            <td style="max-width: 80px; min-width: 80px">{{ output.chrom }}</td>
                            <td style="max-width: 100px; min-width: 100px">{{ output.pos }}</td>
                            <td style="max-width: 100px; min-width: 100px">{{ output.ref }}</td>
                            <td style="max-width: 100px; min-width: 100px">{{ output.alt }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block my-script %}
    <script type="text/javascript">
        $('table').on('scroll', function () {
            $("table > *").width($("table").width() + $("table").scrollLeft());
        });
    </script>
{% endblock %}
