{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Common Variant</li>
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>
    </ol>
{% endblock %}

{% block main-container %}
    <div class="card">
        <form action="{{ action }}" method="post">
            {% csrf_token %}
            <div class="card-header"><strong>Common Variant Input Form</strong></div>
            <div class="card-block">

                {# input file#}
                {{ formset.management_form }}
                <div id="form_set">
                    {% for form in formset.forms %}
                        <div style="display: none">{{ form }}</div>
                        <table class='no_error'>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="file-input">Input File:</label>
                                <div class="col-md-9">
                                    <input type="file" id="file-{{ form.input.html_name }}" name="file-input">
                                </div>
                            </div>
                        </table>
                    {% endfor %}
                </div>

                <input type="button" value="Add More" id="add_more" class="col-lg-offset-3 btn btn-sm btn-warning">
                <div id="empty_form" style="display:none">
                    <div style="display: none">{{ formset.empty_form.as_table }}</div>
                    <table class='no_error'>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="file-input">Input File:</label>
                            <div class="col-md-9">
                                <input type="file" id="file-{{ formset.empty_form.input.html_name }}" name="file-input">
                            </div>
                        </div>
                    </table>
                </div>

                {% include 'snippets/normal_field.html' with element=form.output_name %}
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary" id="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
            </div>
        </form>


    </div>
{% endblock %}

{% block my-script %}
    <script type="text/javascript">
        document.getElementById("submit").onclick = function () {
            total_form = $('#form_set').children().length;
            for(var i = 0; i<total_form; i++)
                document.getElementById("id_form-"+i+"-input").value = document.getElementById("file-form-"+i+"-input").value;
        };

        $('#add_more').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

    </script>
{% endblock %}