{% load staticfiles i18n %}

<div class="left-aside desktop-view">
    <div class="aside-branding">
        <span class="iconic-logo leftbar-action desktop waves-effect" style="background-color: #1a1c21;"><img src="{% static 'matmix/images/logo-small.png' %}"></span>
        <span class="large-logo leftbar-action desktop waves-effect" style="background-color: #1a1c21;"><img src="{% static 'matmix/images/logo-large.png' %}"></span>
        <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
        <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
    </div>
    <div class="left-navigation" style="background-color: #1d2227;">
        <ul class="list-accordion" style="background-color: #1d2227;">

            <li><a href="#"><span class="nav-icon"><i class="flaticon-house-outline"></i></span><span class="nav-label">{% trans 'Dashboard' %}</span></a>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-shopping-cart-1"></i></span><span class="nav-label">{% trans 'Procurement' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'vendor:list' %}">Vendor</a></li>#}
{#                    <li><a href="{% url 'customer:list' %}">Purchase Order</a></li>#}
                </ul>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-tag"></i></span><span class="nav-label">{% trans 'Sale' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'customer:list' %}">Customer</a></li>#}
{#                    <li><a href="{% url 'discount_type:list' %}">Discount Type</a></li>#}
{#                    <li><a href="{% url 'selling_price:list' %}">Selling Price</a></li>#}
                </ul>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-user"></i></span><span class="nav-label">{% trans 'Human Resource' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'employee:list' %}">Employee</a></li>#}
{#                    <li><a href="{% url 'customer:list' %}">User</a></li>#}
                </ul>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-storage"></i></span><span class="nav-label">{% trans 'Warehouse' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'product_category:list' %}">Product Category</a></li>#}
{#                    <li><a href="{% url 'product:list' %}">Product</a></li>#}
                </ul>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-coins-1"></i></span><span class="nav-label">{% trans 'Finance' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'business_unit:list' %}">Business Unit</a></li>#}
{#                    <li><a href="{% url 'document_prefix:list' %}">Document Prefix</a></li>#}
{#                    <li><a href="{% url 'treasury:list' %}">Treasury</a></li>#}
                </ul>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-truck"></i></span><span class="nav-label">{% trans 'Logistic' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'customer:list' %}">Customer</a></li>#}
                </ul>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-tactics"></i></span><span class="nav-label">{% trans 'Production' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'customer:list' %}">Customer</a></li>#}
                </ul>
            </li>

            <li><a href="#" class="waves-effect"><span class="nav-icon"><i class="flaticon-cogwheel"></i></span><span class="nav-label">{% trans 'Global Setting' %}</span></a>
                <ul>
{#                    <li><a href="{% url 'account:list' %}">Account</a></li>#}
                    <li><a href="{% url 'company:list' %}">Company</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
