{% load staticfiles %}

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'de_novo:index' %}"><i class="icon-chemistry"></i> De Novo </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Exomizer</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hiphive:index' %}"><i class="icon-chemistry"></i> hiPhive </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exomewalker:index' %}"><i class="icon-chemistry"></i> ExomeWalker </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'combine_gvcf:index' %}"><i class="icon-chemistry"></i> Combine GVCF </a>
            </li>
        </ul>
    </nav>
</div>