{% load staticfiles %}

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'filter:index' %}"> Filter </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'de_novo:index' %}"> De Novo </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"> Exomizer</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hiphive:index' %}">&nbsp;&nbsp;&nbsp; &mdash; &nbsp; hiPhive </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exomewalker:index' %}">&nbsp;&nbsp;&nbsp; &mdash; &nbsp; ExomeWalker </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'common_variant:index' %}"> Common Variant </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'common_novel:index' %}"> Common Novel </a>
            </li>
        </ul>
    </nav>
</div>