{% load staticfiles i18n %}

<form action='{{action}}' method='POST' id='modal-form' class='form-horizontal'>
    <div class="modal-header">
        {% block modal-title %}
            <div class="modal_icon {% block icon-modal %} {% if icon %} {{ icon }} {% endif %}{% endblock %}"></div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            {% if title %}
                <span class="bi-modal-header">{{ title|safe }}</span>
            {% endif %}
        {% endblock %}
    </div>
    <div class="modal-body">
        {% block modal-body %}
            <div class="modal-description" style="margin-left: 14px; margin-right: 14px;">
                <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/>
                {% block description %}
                    {% if description %}
                        {{ description|safe }}
                    {% endif %}
                {% endblock %}
                {% block form %}
                {% endblock %}
            </div>
            <div class="modal-result">
                {% block modal-result %}
                    {% if response %}
                        <div class='alert alert-{{response.result}}'>
                                {{ response.text|safe }}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="modal-footer">
        {% block modal-button %}
            {% if util_button.display %}
                <a href='{{util_button.url}}'class="util_runner btn btn-{{util_button.type}}"data-loading-text="Loading..."
                >{% trans util_button.value %}</a>
            {% endif %}
            {% if submit_button.display %}
                <input value='{{submit_button.value}}' type='submit' id='modal-submit' class='btn btn-{{submit_button.type}}' data-loading-text="{{submit_button.loading_value}}"/>
            {% endif %}
            {% if button_close.display  %}
                <button class="btn btn-{{button_close.type}}" data-dismiss="modal" aria-hidden="true">{% trans button_close.value %}</button>
            {% endif %}
        {% endblock %}
    </div>
</form>
