{% load staticfiles i18n %}
{% load widget_tweaks %}

{#<div class="col-lg-{{ width|default:'12' }}">#}
    <div class="form-group {% if element.errors %}has-error{% endif %} required ">
        <div class="col-lg-12 col-md-12">
            <span class="">{{ element.label }}</span>
            <span class="bi-star">
                {% if element.field.required %}*{% endif %}
            </span>:
            {% if element.errors and not hide_errors %}
                {% render_field element class+="form-control form-group-sm error" class+=element_class %}
                <small class="help-block">
                  {% for error in element.errors %}
                    {{ error }}
                  {% endfor %}
                </small>
            {% else %}
                {% render_field element class+="form-control form-group-sm" class+=element_class %}
            {% endif %}
        </div>
    </div>
{#</div>#}


{% if not width %}
    <div class="clearfix"></div>
{% endif %}

<div class="line-input"></div>
