{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">De Novo</li>
{#        <li class="breadcrumb-item active">Dashboard</li>#}

        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>
    </ol>
{% endblock %}

{% block main-container %}
    <div class="card">
        <form action="{{ action }}" method="post">
            {% csrf_token %}
            <div class="card-header"><strong>De Novo Input Form</strong></div>
{#            {{ form }}#}

            <div class="card-block">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="file-input">{{ form.children.label }}</label>
                    <div class="col-md-9">
                        <input type="file" id="file-input" name="file-input">
                    </div>
                </div>
{#                 Children files#}
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="file-multiple-input">Children files</label>
                    <div class="col-md-9">
                        <input type="file" id="children-files" name="children-files" multiple="">
                    </div>
                </div>
{#                 Parent files#}
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="file-multiple-input">Parent files</label>
                    <div class="col-md-9">
                        <input type="file" id="parent-files" name="parent-files" multiple="">
                    </div>
                </div>
{#                 Output file name#}
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Output file name</label>
                    <div class="col-md-9">
                        <input type="text" id="output-name" name="output-name" class="form-control" placeholder="Text">
                        <span class="help-block">This is a help text</span>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </form>


    </div>
{% endblock %}