{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Phenotype Influencing</li>
        <li class="breadcrumb-item active">hiPhive</li>
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>
    </ol>
{% endblock %}

{% block main-container %}
    <div class="col-lg-6">
        <div class="card">
            <form action="{{ action }}" method="post" id="hiphive_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-header"><strong>hiPhive Form</strong></div>
                <div class="card-block">
                    {# Input file #}
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="file-input">Input File:</label>
                        <div class="col-md-9">
                            <input type="file" id="input-file" name="file-input">
                        </div>
                    </div>

                    <div style="display: none">{% include 'snippets/normal_field.html' with element=form.input %}</div>
                    {% include 'snippets/normal_field.html' with element=form.hpo %}
                    {% include 'snippets/normal_field.html' with element=form.output_name %}
                    {{ form.non_field_errors }}
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" id="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-inverse card-info">
            <form action="{{ action }}" method="post" id="search_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-header"><strong>Search HPO ID</strong></div>
                <div class="card-block">
                    {% include 'snippets/normal_field_non_inline.html' with element=search_form.search_string %}
                    <button type="submit" name="search" class="btn btn-sm btn-secondary" id="search">Search</button>
                    {% if search_results %}
                        <div style="height: 300px; overflow-y: auto; margin-top: 20px;">
                            {% for search_result in search_results %}
                                <button class="btn btn-sm btn-primary col-lg-12" id="{{ search_result.0 }}">
                                    {{ search_result.0 }} - {{ search_result.1 }}
                                </button>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block my-script %}
    <script type="text/javascript">
        document.getElementById("submit").onclick = function () {
{#            alert("submit");#}
            document.getElementById("id_input").value = document.getElementById("input-file").value;
        };
{#        $(document).ready(function(){#}
{#            $("#submit").on("click", function(){#}
{#                event.preventDefault();#}
{#                alert("submit naaa");#}
{#                $("#id_input").val($("#input-file").val());#}
{#                alert($("#input-file").val())#}
{#            });#}
{#        });#}
    </script>
{% endblock %}