{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Exomiser</li>
        <li class="breadcrumb-item active">hiPhive</li>
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>
    </ol>
{% endblock %}

{% block main-container %}
    <div class="col-lg-6">
        <div class="card">
            <form action="{{ action }}" method="post" id="hiphive_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-header"><strong>hiPhive Form</strong></div>
                <div class="card-block">
                    {# Input file #}
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="file-input">Input File:</label>
                        <div class="col-md-9">
                            <input type="file" id="input-file" name="file-input">
                        </div>
                    </div>

                    <div style="display: none">{% include 'snippets/normal_field.html' with element=form.input %}</div>
                    {% include 'snippets/normal_field.html' with element=form.hpo %}
                    {% include 'snippets/normal_field.html' with element=form.output_name %}
                    {% include 'snippets/normal_field.html' with element=form.targets %}
                    {% include 'snippets/normal_field.html' with element=form.candidates %}
                    {{ form.non_field_errors }}
                </div>

                <div class="card-footer">
                    <button type="submit" name="hiphive" class="btn btn-sm btn-primary" id="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-inverse card-info">
            <form action="{{ action }}" method="post" id="search_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-header"><strong>Search HPO ID</strong></div>
                <div class="card-block">
                    {% include 'snippets/normal_field_non_inline.html' with element=search_form.search_string %}
                    <button type="submit" name="search" class="btn btn-sm btn-secondary" id="search">Search</button>
                    <div style="max-height: 300px; overflow-y: auto; margin-top: 20px;" id="search_results"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block my-script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#search_form').submit(function() {
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    success: function(response) {
                        var jsonData = JSON.parse(response);
                        var search_results = jsonData.search_results;
                        $('.search_result_btn').remove();
                        $('.search_not_found').remove();
                        if(search_results.length == 0)
                            $('#search_results').append('<div class="help-block search_not_found">Not found</div>');
                        for(var i=0; i<search_results.length; i++) {
                            var btn = '<button type="button" ' +
                                'class="btn btn-sm btn-primary col-lg-12 search_result_btn"' +
                                'id=' + search_results[i][0] + ' ondblclick="selectID(id)"' +
                                'style="text-align:left; padding-left:6px">' +
                                search_results[i][0] + ' - ' + search_results[i][1] + '</button>';
                            $('#search_results').append(btn);
                        }
                    }
                });
                return false;
            });

            $("#submit").on("click", function(){
                $("#id_hiphive-input").val($("#input-file").val());
            });
        });

        function selectID(id){
            var  hpoInput = $("#id_hiphive-hpo");
            var existID = hpoInput.val();
            if(existID == "") hpoInput.val(id);
            else if(existID.indexOf(id) < 0) hpoInput.val(existID+", "+id);
            else alert("This HPO ID is already added.");
        }
    </script>
{% endblock %}